<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteRule ^quiz/([a-z0-9-]+)/([0-9-]+).html?$ /quiz.php?cod=$2&url=$1 [NC]
    RewriteRule ^quiz/([a-z0-9-]+)/([0-9-]+)-resultado.html?$ /resultado.php?cod=$2&url=$1 [NC]
	
</IfModule>