<table>
    <tr>
        <th>__(locmapaponto.cod)</th>
        <th>__(locmapaponto.lat)</th>
        <th>__(locmapaponto.lng)</th>
        <th>__(locmapaponto.heading)</th>
        <th>__(locmapaponto.pitch)</th>
        <th>__(locmapaponto.zoom)</th>
        <th>__(locmapaponto.comportamento)</th>
        <th>__(locmapaponto.suportaview)</th>
    </tr>
    <repeat>
        <tr>
            <td>getCod</td>
            <td>getLat</td>
            <td>getLng</td>
            <td>getHeading</td>
            <td>getPitch</td>
            <td>getZoom</td>
            <td>getComportamento</td>
            <td>getSuportaview</td>
        </tr>
    </repeat>
</table>

<h2>Associações:</h2>
<repeat>
<ul style="border: 1px solid red; margin: 10px">
    
</ul>
</repeat>