<table class="table table-hover table-striped" id="tablelista">
    <thead>
        <tr>
            <th>__(locmapaponto.cod)</th>
        <th>__(locmapaponto.lat)</th>
        <th>__(locmapaponto.lng)</th>
        <th>__(locmapaponto.heading)</th>
        <th>__(locmapaponto.pitch)</th>
        <th>__(locmapaponto.zoom)</th>
        <th>__(locmapaponto.comportamento)</th>
        <th>__(locmapaponto.suportaview)</th>            
            <th></th>
        </tr>
    </thead>
    <repeat>
        <tr>
            <td>getCod</td>
            <td>getLat</td>
            <td>getLng</td>
            <td>getHeading</td>
            <td>getPitch</td>
            <td>getZoom</td>
            <td>getComportamento</td>
            <td>getSuportaview</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-primary" href="editar.php?cod=getCod"><i class="icon-pencil icon-white"></i> __(editar)</a>
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="deletar.php?cod=getCod"><i class="icon-trash"></i> __(deletar)</a></li>                    
                    </ul>
                </div>            
            </td>
        </tr>
    </repeat>
</table>