<table class="table table-hover table-striped" id="tablelista">
    <thead>
        <tr>
            <th>__(epergunta.cod)</th>
        <th>__(epergunta.quiz)</th>
        <th>__(epergunta.descricao)</th>
        <th>__(epergunta.imagem)</th>
        <th>__(epergunta.ordem)</th>            
            <th></th>
        </tr>
    </thead>
    <repeat>
        <tr>
            <td>getCod</td>
            <td>getQuiz</td>
            <td>getDescricao</td>
            <td>getImagem</td>
            <td>getOrdem</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-primary" href="editar.php?cod=getCod"><i class="icon-pencil icon-white"></i> __(editar)</a>
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="deletar.php?cod=getCod"><i class="icon-trash"></i> __(deletar)</a></li>                    
                    </ul>
                </div>            
            </td>
        </tr>
    </repeat>
</table>